on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

name: Build and Publish images

jobs:
  build-and-publish:
    strategy:
      matrix:
        script: [ 'housekeeping', 'ams-reporting']
    uses: hmcts/cnp-githubactions-library/.github/workflows/container-build-and-push.yaml@main
    with:
      image-name: libragob/${{ matrix.script }}
      dockerfile: Dockerfile
      platforms: linux/amd64
      image-tags: |
        type=raw,value=pr-${{github.event.number}}-{{sha}}-{{date 'X'}},enable=${{ github.event_name == 'pull_request' }}
        type=raw,value=prod-{{sha}}-{{date 'X'}},enable=${{ github.ref == 'refs/heads/main' }}
      build-args: |
        SCRIPT_FILE=${{ matrix.script }}.sh
      push: true    
    secrets:
      REGISTRY_LOGIN_SERVER: ${{ secrets.REGISTRY_LOGIN_SERVER }}
      REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
      REGISTRY_PASSWORD: ${{ secrets.REGISTRY_PASSWORD }}
